// List Groups

// scss-docs-start list-group-mixin
@mixin list-group-item-variant($state, $background, $color) {
  .list-group-item-#{$state} {
    --#{$variable-prefix}list-group-item-#{$state}-color: #{$color};
    --#{$variable-prefix}list-group-item-#{$state}-bg: #{$background};
    --#{$variable-prefix}list-group-item-#{$state}-focus-bg: #{shade-color($background, 10%)};

    color: var(--#{$variable-prefix}list-group-item-#{$state}-color);
    background-color: var(--#{$variable-prefix}list-group-item-#{$state}-bg);

    &.list-group-item-action {
      &:hover,
      &:focus {
        color: var(--#{$variable-prefix}list-group-item-#{$state}-color);
        background-color: var(--#{$variable-prefix}list-group-item-#{$state}-focus-bg);
      }

      &.active {
        color: $white;
        background-color: var(--#{$variable-prefix}list-group-item-#{$state}-color);
        border-color: var(--#{$variable-prefix}list-group-item-#{$state}-color);
      }
    }
  }
}
// scss-docs-end list-group-mixin
